* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
body main {
  flex: 1 0 auto;
  width: 100%;
  max-width: 900px;
  min-height: 500px;
}
@media (min-width: 900px) {
  body main {
    width: 900px;
  }
}
body main div#form_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #c8c8ff;
}
body main div#form_container form {
  padding: 20px;
  text-align: center;
}
body main div#form_container form #submit_container {
  margin-top: 10px;
}
body main div#form_container form #submit_container input[type=submit] {
  padding: 5px;
}
body main div#summary_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background-color: #9b9bff;
  font-size: 10px;
}
@media (min-width: 600px) {
  body main div#summary_container {
    font-size: 12px;
  }
}
@media (min-width: 900px) {
  body main div#summary_container {
    font-size: 16px;
  }
}
body main div#summary_container ul {
  margin-left: 20px;
}
body main div#summary_container table {
  width: 100%;
}
body main div#summary_container table, body main div#summary_container table tr, body main div#summary_container table th, body main div#summary_container table td {
  border: 1px solid black;
  border-collapse: collapse;
}
body main div#summary_container table tr th, body main div#summary_container table tr td {
  padding: 5px;
}
body main div#summary_container table tr th:first-child {
  text-align: left;
}
body main div#summary_container table tr td:last-child {
  text-align: center;
}
